{% extends 'base.html' %}

{% block content %}
<div class="mt-5 d-flex justify-content-center">
    <!-- Card for Total Devices -->
    <div class="card border-primary mb-3 mx-2" style="width: 20rem; height: 12rem;">
        <div class="card-body text-primary d-flex justify-content-center align-items-center">
            <h5 class="card-title" style="font-size: 36px;">{{ all_device }}</h5>
        </div>
        <div class="card-footer bg-primary border-primary text-white">
            Total Devices
        </div>
    </div>

    <!-- Card for Cisco Devices -->
    <div class="card border-success mb-3 mx-2" style="width: 20rem; height: 12rem;">
        <div class="card-body text-success d-flex justify-content-center align-items-center">
            <h5 class="card-title" style="font-size: 36px;">{{ cisco_device }}</h5>
        </div>
        <div class="card-footer bg-success border-success text-white">
            Cisco Devices
        </div>
    </div>

    <!-- Card for Mikrotik Devices -->
    <div class="card border-danger mb-3 mx-2" style="width: 20rem; height: 12rem;">
        <div class="card-body text-danger d-flex justify-content-center align-items-center">
            <h5 class="card-title" style="font-size: 36px;">{{ mikrotik_device }}</h5>
        </div>
        <div class="card-footer bg-danger border-danger text-white">
            Mikrotik Devices
        </div>
    </div>
</div>

<h3 class="mt-4">Last Event</h3>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Target Device</th>
            <th>Action</th>
            <th>Status</th>
            <th>Time Done</th>
            <th>Messages</th>
        </tr>
    </thead>
    <tbody>
        {% for log in last_event %}
        <tr>
            <td></td>
            <td>{{ log.target }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.status }}</td>
            <td>{{ log.time }}</td>
            <td>{{ log.messages }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
